{% extends 'base.html' %}

{% block content %}
    <html>
    <head>
    </head>
    <body>
    <h1>Selamat datang di Prezzmarket</h1>

    <p><strong>Nama:</strong> {{ name }}</p>
    <p><strong>Kelas:</strong> {{ class }}
    
    <table>
        <h4>Anda menyimpan {{ items.count }} item disini</h4>
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Description</th>
        </tr>

        {% comment %} Berikut cara memperlihatkan data item di bawah baris ini {% endcomment %}

        {% for item in items %}
            <tr>
                <td>{{item.name}}</td>
                <td>{{item.amount}}</td>
                <td>{{item.description}}</td>
                <td>
                    <a href = "add_amount/{{item.id}}">
                        <button> Tambah amount </button>
                    </a>
                    <a href = "decrement_amount/{{item.id}}">
                        <button> Kurang Jumlah </button>
                    </a>
                    <a href = "delete_item/{{item.id}}">
                        <button> Hapus Item </button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <br />

    <h5>Sesi terakhir login: {{ last_login }}</h5>
    
    <a href="{% url 'main:create_item' %}">
        <button>
            Add New Item
        </button>
    </a>

    <a href="{% url 'main:logout' %}">
        <button>
            Logout
        </button>
    </a>

{% endblock content %}